.film-slider-gallery{
	   
	   
	   overflow: hidden;
	    
	  .arrows{
	  	    z-index: 99;
		    color: #FDFDFD;
		    font-size: 30px;
		    position: relative;
		    top: -110px;
		    a{
		    	color: white ;
		    	height: 100px;
    			/*background-color: #71716F;*/
    			line-height: 100px;
    			opacity: 0.6;
    			font-size: 40px;
			    width: 20px;
			    text-align: center;
    			transition: opacity 0.3s ease;
    			
		    	&:hover{
		    	 
		    	 opacity:1;
		    	 cursor:pointer;
		    	}
		    }
	  }
	 
	 .inner-container{
	 	
	 	position:relative;
	 	left:0;
	 	transition: left .45s ease-in-out;
	    
	ul{
		list-style:none;
		white-space: nowrap;
		padding: 0px;
		display:block;
		
		li{
			margin: 2px;
			display:inline;
			img{
			border-radius: 5px;
			width:100px;
			height:100px;
			}
			
		}
	}
	}

}

.small-gallery::-webkit-scrollbar {
    width: 6px;
}
.small-gallery::-moz-scrollbar {
    width: 6px;
}
 
.small-gallery::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(221, 221, 221, 0.3); 
    border-radius: 5px;
}
 
.small-gallery::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(221, 221, 221, 0.3); 
    border-radius: 5px;
}
 
.small-gallery::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(226, 189, 9, 0.5); 
    border-radius: 5px;
}
.small-gallery::-moz-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(226, 189, 9, 0.5); 
    border-radius: 5px;
}