.modal-gallery-wrapper{
	width:100%;
	height:100%;
	margin:0px;
	margin-top:20px;
	
	.modal-content{
		background-color: black;
		border-radius:0px;
		min-height:90%;
		
		.image-holder{
			img{
				max-width: 100%;
			}
			.arrows{
			    line-height: 100%;
			    height: 100%;
			    width:100%;
			    position: absolute;
			    top: 0;
			    padding-right: 30px;
			    a{
			        color: #ddd;
				    width: 50px;
				    /* line-height: 100%; */
				    opacity: 0.3;
				    transition: opacity 0.3s ease;
				    background-color: black;
				    font-size: 50px;
				    top: 40%;
				    position: relative;
				    text-align: center;
				    
				    &:hover{
				    	opacity: 1;
				    	cursor:pointer;
				    }
			    }
			}
		
		}
		
	}
	
	.modal-header{
		border-bottom: 0px;
		font-size: 20px;
		color: white;
		padding-top:0px;
		min-height:30px;
		.close{
			opacity: .9;
	    	font-size: 30px;
	    	font-weight: 100;
	    	color: white;
		}
	}
	.modal-footer{
	
	}
}
.image-comment{
			background-color: #DDDDDD;
			border-radius: 5px;
			min-height: 300px;
			padding:10px;
			padding-left:10px;
			.user{
				color: darkgoldenrod;	
				.name {
					font-size:18px;
					line-height: 34px;
					font-weight: bolder;
					
					&:hover{
						cursor:pointer;
						text-decoration:underline;
						
						color: $dark-brown;
					}
				}
				
			}
			.review{
				font-size: 16px;
				color: $dark-brown;
				
				border-bottom: 1px solid #CCC;
			}
			.comment{
				font-size: 16px;
				margin-top: 10px;
				a{
					text-decoration: none;
					
					color: darkgoldenrod;
					&:hover{
						cursor:pointer;
						text-decoration:underline;
						color: $dark-brown;
					}
				}
			}
}
