.restaurant-wrapper{
	background-color:black;
	min-height:200px;
	padding-left: 5px;
    padding-right: 5px;
    
	.name{
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 2em;
		color: #949494;
	}
	.rating{
		    color: $btn-type-2-bg;
		    list-style: none;
		    
		    text-align: left;
		    padding-left: 0px;
		    font-size: 20px;
		    li{
		    	display:inline;
		    }
		    .point{
		    	font-size: 20px;
			    line-height: 20px;
			    padding: 2px;
			    padding-left: 5px;
    			padding-right: 5px;
			    color: white;
			    background-color: #2B7306;
			    border-radius: 7px;
			    margin-left: 10px;
		    }
	}
}

.angular-google-map-container { 
	height: 150px; 
	width: 100%; 
	margin-bottom:10px;
	
	margin-left:5px;
	border: 5px solid white;
}
.res-additional-wrapper{
	margin-top:20px;
}
.res-gallery{
	ul{
		    list-style: none;
		    white-space: nowrap;
		    padding: 0px;
		    display: block;
		    
		
		li{
			margin: 2px;
    		display: inline;
    		transition: all 0.15s linear;
    		img{
				width:100px;
				height:100px;
				transform: scale(1,1);
				border:3px solid white;
				
			}
			.overlay{
				    width: 100px;
				    height: 100px;
				    background-color: black;
				    position: absolute;
				    top: 0;
				    font-size:20px;
				    color:white;
				    transform: scale(1,1);
				    text-align:center;
					   
				    }
		    .overlay-plus{
		    	@extend .overlay;
		    	background-color: transparent;
			    line-height: 100px;
			    color: #AFAAAA;
		    }
		    
			&:hover{
				cursor:pointer;
				
				img{
				transform: scale(1.2,1.2);
				border:5px solid white;
				
				}
				.overlay{
				    transform: scale(1.2,1.2);
				    
				    }
			}
    		
		}
		li:nth-child(2) {
			img{
				width:130px;
				height:130px;
			}
		}
	}
	
	

}