body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  background-color: #e9eaed;
  color: #535353; }

body::-webkit-scrollbar {
  /* This is the magic bit */
  display: none; }

/* bootstrap override */
.search-box .form-control {
  background-color: transparent;
  border-color: #DE5536;
  box-shadow: none; }
  .search-box .form-control:focus {
    border-color: #DE5536;
    box-shadow: none; }

/* end of bootstrap override */
@media (max-width: 400px) {
  .btn {
    font-size: 12px; } }

@media (max-width: 400px) {
  .login-wrapper {
    padding-left: 0px; } }

.btn-type-1 {
  background-color: #4E0404;
  border: 0px;
  color: white;
  text-transform: uppercase; }
  .btn-type-1:hover {
    color: gray;
    background-color: black; }

.btn-type-2 {
  background-color: #DE5536;
  border: 0px;
  color: white;
  text-transform: uppercase; }
  .btn-type-2:hover {
    color: #F5DFDF;
    background-color: #B12505; }

.btn-inline {
  background-color: transparent;
  border: 1px solid #DE5536;
  color: #DE5536; }
  .btn-inline:hover {
    border: 1px solid white;
    color: white; }

.btn-inline.selected {
  background-color: #1B750B;
  color: white;
  border-color: #53943C; }

.brand-icon {
  height: 50px;
  width: 50px;
  margin-left: -15px; }
  .brand-icon img {
    width: 50px;
    height: 50px; }
  @media (max-width: 767px) {
    .brand-icon {
      height: 35px; } }

.brand-title {
  font-size: 2em;
  padding-left: 15px;
  font-weight: bold;
  line-height: 50px;
  font-family: 'Kaushan Script', cursive; }
  @media (max-width: 767px) {
    .brand-title {
      font-size: 1.5em; } }

.navbar-ac {
  background-color: #E2BD09;
  color: #4E0404;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 5px;
  line-height: 50px; }
  @media (max-width: 767px) {
    .navbar-ac {
      padding-right: 0px; } }

.xs-header-buttons {
  background-color: #555555; }
  .xs-header-buttons a {
    color: #DE5536; }

.login {
  color: #4E0404;
  font-weight: bold; }
  .login:hover {
    text-decoration: none;
    cursor: pointer;
    color: white; }

.menu-button-wrapper {
  text-align: right;
  padding-right: 0px; }
  @media (max-width: 767px) {
    .menu-button-wrapper {
      margin-right: 5px; } }

.header-image-box {
  height: 300px;
  width: 100%;
  background-color: black;
  /*background: url('../images/bg2.jpg');
  background-size:cover;
  background-repeat:no-repeat;*/ }
  .header-image-box img {
    height: 300px;
    width: 100%;
    position: absolute; }
  @media (max-width: 400px) {
    .header-image-box {
      height: 200px; }
      .header-image-box img {
        height: 200px; } }

.search-box-wrapper {
  background-color: #555555;
  padding: 15px; }

.search-box {
  border: 0px solid #C5C0C0;
  height: 60px;
  border-radius: 8px;
  background-color: black;
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 30%; }
  .search-box input, .search-box button, .search-box a {
    height: 45px; }
  .search-box a {
    font-size: 20px; }
  @media (max-width: 767px) {
    .search-box {
      height: 160px;
      top: 20%;
      padding-left: 0px;
      padding-right: 0px; }
      .search-box input, .search-box button, .search-box a {
        margin-top: 3px; } }

.addon-icon {
  position: relative;
  /* left: -30px; */
  z-index: 3;
  background-color: transparent;
  border: 0px;
  margin-right: 10px;
  float: right;
  margin-top: -30px;
  color: #A1A3A9; }

/*
.form-control:focus {
  border-color: $focus-shadow-color;
  -webkit-box-shadow: inset 0 1px 1px $focus-shadow-color, 0 0 8px $focus-shadow-color;
          box-shadow: inset 0 1px 1px $focus-shadow-color, 0 0 8px $focus-shadow-color;
 
}*/
.margin-top-5 {
  margin-top: 5px; }

.store {
  min-height: 200px;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #CCC8C8; }
  .store .footer {
    font-size: 16px;
    margin-top: -80px;
    margin-bottom: 10px; }
    .store .footer .text {
      font-size: 12px; }
    .store .footer span:hover {
      cursor: pointer; }
  .store .name {
    font-size: 16px;
    font-weight: bold; }
    .store .name:hover {
      cursor: pointer;
      color: black;
      text-decoration: none; }
    .store .name a {
      color: #4E0404; }
      .store .name a:hover {
        text-decoration: none; }
  .store .address {
    font-size: 12px;
    padding-left: 20px; }
    .store .address:hover {
      cursor: pointer;
      color: black; }
  .store .phone {
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold; }
  .store .hour {
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold; }
  .store .rating {
    color: #DE5536;
    list-style: none;
    text-align: left;
    padding-left: 20px;
    font-size: 16px; }
    .store .rating li {
      display: inline; }
  .store .review {
    color: #DE5536;
    text-decoration: none;
    padding-left: 10px; }
    .store .review:hover {
      cursor: pointer; }
  .store .features {
    font-size: 20px;
    color: #C3C0C0;
    text-align: center; }
    .store .features .active {
      color: white;
      background-color: green; }
    .store .features i {
      border-radius: 50%;
      background-color: #DDDDDD;
      width: 35px;
      height: 35px;
      line-height: 35px; }
  .store .description p {
    font-size: 14px;
    font-weight: 300; }

.margin-top-20 {
  margin-top: 20px; }

.padding-left-20 {
  padding-left: 20px; }

.film-slider-gallery {
  overflow: hidden; }
  .film-slider-gallery .arrows {
    z-index: 1000;
    color: #FDFDFD;
    font-size: 30px;
    position: relative;
    top: -110px; }
    .film-slider-gallery .arrows a {
      color: white;
      height: 100px;
      /*background-color: #71716F;*/
      line-height: 100px;
      opacity: 0.6;
      font-size: 40px;
      width: 20px;
      text-align: center;
      transition: opacity 0.3s ease; }
      .film-slider-gallery .arrows a:hover {
        opacity: 1;
        cursor: pointer; }
  .film-slider-gallery .inner-container {
    position: relative;
    left: 0;
    transition: left .45s ease-in-out; }
    .film-slider-gallery .inner-container ul {
      list-style: none;
      white-space: nowrap;
      padding: 0px;
      display: block; }
      .film-slider-gallery .inner-container ul li {
        margin: 2px;
        display: inline; }
        .film-slider-gallery .inner-container ul li img {
          border-radius: 5px;
          width: 100px;
          height: 100px; }

.small-gallery::-webkit-scrollbar {
  width: 6px; }

.small-gallery::-moz-scrollbar {
  width: 6px; }

.small-gallery::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(221, 221, 221, 0.3);
  border-radius: 5px; }

.small-gallery::-moz-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(221, 221, 221, 0.3);
  border-radius: 5px; }

.small-gallery::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(226, 189, 9, 0.5);
  border-radius: 5px; }

.small-gallery::-moz-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(226, 189, 9, 0.5);
  border-radius: 5px; }

.restaurant-wrapper {
  background-color: black;
  min-height: 200px;
  padding-left: 5px;
  padding-right: 5px; }
  .restaurant-wrapper .name {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #949494; }
  .restaurant-wrapper .rating {
    color: #DE5536;
    list-style: none;
    text-align: left;
    padding-left: 0px;
    font-size: 20px; }
    .restaurant-wrapper .rating li {
      display: inline; }
    .restaurant-wrapper .rating .point {
      font-size: 20px;
      line-height: 20px;
      padding: 2px;
      padding-left: 5px;
      padding-right: 5px;
      color: white;
      background-color: #2B7306;
      border-radius: 7px;
      margin-left: 10px; }

.angular-google-map-container {
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: 5px;
  border: 5px solid white; }

.res-additional-wrapper {
  margin-top: 20px; }

.res-gallery ul {
  list-style: none;
  white-space: nowrap;
  padding: 0px;
  display: block; }
  .res-gallery ul li {
    margin: 2px;
    display: inline;
    transition: all 0.15s linear; }
    .res-gallery ul li img {
      width: 100px;
      height: 100px;
      transform: scale(1, 1);
      border: 3px solid white; }
    .res-gallery ul li .overlay, .res-gallery ul li .overlay-plus {
      width: 100px;
      height: 100px;
      background-color: black;
      position: absolute;
      top: 0;
      font-size: 20px;
      color: white;
      transform: scale(1, 1);
      text-align: center; }
    .res-gallery ul li .overlay-plus {
      background-color: transparent;
      line-height: 100px;
      color: #AFAAAA; }
    .res-gallery ul li:hover {
      cursor: pointer; }
      .res-gallery ul li:hover img {
        transform: scale(1.2, 1.2);
        border: 5px solid white; }
      .res-gallery ul li:hover .overlay, .res-gallery ul li:hover .overlay-plus {
        transform: scale(1.2, 1.2); }
  .res-gallery ul li:nth-child(2) img {
    width: 130px;
    height: 130px; }

.modal-gallery-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 20px; }
  .modal-gallery-wrapper .modal-content {
    background-color: black;
    border-radius: 0px;
    min-height: 90%; }
    .modal-gallery-wrapper .modal-content .image-holder img {
      max-width: 100%; }
    .modal-gallery-wrapper .modal-content .image-holder .arrows {
      line-height: 100%;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      padding-right: 30px; }
      .modal-gallery-wrapper .modal-content .image-holder .arrows a {
        color: #ddd;
        width: 50px;
        /* line-height: 100%; */
        opacity: 0.3;
        transition: opacity 0.3s ease;
        background-color: black;
        font-size: 50px;
        top: 40%;
        position: relative;
        text-align: center; }
        .modal-gallery-wrapper .modal-content .image-holder .arrows a:hover {
          opacity: 1;
          cursor: pointer; }
    .modal-gallery-wrapper .modal-content .image-comment {
      background-color: #DDDDDD;
      border-radius: 5px;
      min-height: 300px;
      padding: 5px; }
  .modal-gallery-wrapper .modal-header {
    border-bottom: 0px;
    font-size: 20px;
    color: white;
    padding-top: 0px;
    min-height: 30px; }
    .modal-gallery-wrapper .modal-header .close {
      opacity: .9;
      font-size: 30px;
      font-weight: 100;
      color: white; }

/*# sourceMappingURL=style.css.map */
